[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
gunicorn = "*"
flask-scss = "*"
requests = "*"
fdfgen = "*"


[dev-packages]

pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
