{% extends "artlogic/base.html" %}

{% block title %} {{title}} {% endblock %}

{%block scripts %}
{% endblock %}

{%block content %}

<div class="formwrapper">
    <h2 class="title">Encode/Decode</h2>
    <form method="POST" action="/artlogic">
        {{ form.csrf_token }}
        
        <div class="form-field"> {{ form.input_data.label }} {{ form.input_data }}
            
            {% if form.errors %}
                <ul class="errors">
                    {% for error in form.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        
        </div>
        {{ form.submit }}
    </form>       
</div>

<div class="outputwrapper">
    <h2 class="title">Output</h2>
    <div class="output">
        {% if output %}
            <p>{{ output }}</p>
        {% endif %}
    </div>
</div>

{% endblock %}